/*footer estatico inicia*/
.foot_estatico {
    text-align: center;
    font-size: 16px;
    color: antiquewhite;
    padding: 15px;
    background-color: $color;
    font-family: "Andika", serif;
    font-weight: 700;
     }

.foot_estatico p{
margin-top: 0;
margin-bottom: 2px;
}

.foot_Ciudad_estatico {
    font-size: 10px;
}

.foot_redes_estatico a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 30px;
    padding: 10px;
    
}
  
.foot_redes_estatico a:hover {
color: rgb(63, 5, 64);
}

/*footer estatico finaliza_inicia footer movil*/

.foot_movil {
    text-align: center;
    color: antiquewhite;
    background-color: $color;
    font-family: "Andika", serif;
    font-weight: 700;
    display: block;
    align-items: center;
    margin: 0 0 0 0;

     }

.foot_Dir_movil {
    font-size: 12px;
    margin: 0 0 0 0;
}

.foot_Ciudad_movil {
    font-size: 10px;
    margin: 0 0 0 0;
}

.foot_redes_movil a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 16px;
    padding: 5px;
    
}
  
.foot_redes_movil a:hover {
color: rgb(63, 5, 64);
}

@media only screen and (min-width: 480px) {
    .foot_Dir_movil {
        font-size: 13px;
        margin: 0 0 0 0;
    }
    
    .foot_Ciudad_movil {
        font-size: 10px;
        margin: 0 0 0 0;
    }
    
    .foot_redes_movil a {
        text-decoration: none;
        color: antiquewhite;
        font-size: 17px;
        padding: 8px;
        
    }
}

@media only screen and (min-width: 768px) {
    .foot_Dir_movil {
        font-size: 15px;
        margin: 0 0 0 0;
    }
    
    .foot_Ciudad_movil {
        font-size: 12px;
        margin: 0 0 0 0;
    }
    
    .foot_redes_movil a {
        text-decoration: none;
        color: antiquewhite;
        font-size: 24px;
        padding: 8px;
        
    }
}

@media only screen and (min-width: 1024px) {
    .foot_Dir_movil {
        font-size: 22px;
        margin: 0 0 0 0;
    }
    
    .foot_Ciudad_movil {
        font-size: 16px;
        margin: 0 0 0 0;
    }
    
    .foot_redes_movil a {
        text-decoration: none;
        color: antiquewhite;
        font-size: 30px;
        padding: 18px;
        
    }
}